*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.title {
  font-size: 2rem;
  color: #fbfbfb;
  animation: flipTitle 3s;
}

@keyframes flipTitle {
  from {
      transform: rotateX(90deg);
  }
  to{
      transform: rotateX(0deg);
  }
}

.card {
  background-color: #fff;
  padding: 3rem;
  max-width: 270px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card h1 {
  font-size: 4rem;
}


.containerInput {
  background-color: #fff;
  padding: 10px;
  margin: 34px 0;
  display: flex;
  border-radius: 8px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input {
  background-color: transparent;
  border: 0;
  font-size: 1.1rem;
  outline: none;
  margin-right: 8px;
}

.containerInput input::placeholder {
  color: #ccc;
}

.buttonSearch {
  background-color: transparent;
  border: 0;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  transition: transform 0.5s;
}

.buttonSearch:hover {
  transform: scale(1.2);
}
